@font-face {
	font-family: 'Timeburner';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/timeburnernormal-webfont.woff2') format("woff2"), url('../fonts/timeburnernormal-webfont.woff') format("woff");
}
@font-face {
	font-family: 'Timeburner Bold';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/timeburnerbold-webfont.woff2') format("woff2"), url('../fonts/timeburnerbold-webfont.woff') format("woff");
}

body, html {
	font-family: 'Timeburner' !important;
	font-weight: 700;
	overflow-x: hidden;
	background-color: rgb(30, 30, 30);
	scroll-behavior: smooth;

	@media (max-width: 1365px) {
		body, html {
			overflow: hidden;
		}
	}
}

.scrollBlock {
	overflow: hidden !important;
}

.loader {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100vh;
	transition: 500ms;
	pointer-events: none;
	background-color: rgb(30, 30, 30);
}

.loader-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

path.strokeAnim {
		animation: strokeAnim 3s ease-in-out alternate infinite;
		stroke: #fff;
		stroke-width: 3;
		stroke-dasharray: 2800;
		stroke-dataoffset: 2800;
}
@keyframes strokeAnim {
	from {
		stroke-dashoffset: 2800;
		fill: none;
	}
	to {
		stroke-dashoffset: 0;
		fill: #fff;
	}
}

path.fillAnim {
	animation: fillAnim 3s linear alternate infinite;
	opacity: 1;
}
@keyframes fillAnim {
	0% {
		fill: rgb(30, 30, 30);
	}
	50% {
		fill: #555;
	}
	100% {
		fill: #fff;
	}
}

.screenBlock {
	position: fixed;
	z-index: 99;
	display: none;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 20px;
	text-align: center;
	color: #bbb;
	background-color: rgb(30, 30, 30);
	text-shadow: 0 3px 5px #000;

	p {
		position: absolute;
		bottom: 0;
		margin: 0;
		padding: 0;
	}
	@media (max-width: 1365px) {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
}

header {
	position: fixed;
	z-index: 10;
	display: flex !important;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 150px;
	transition: 600ms;
	color: #bbb;
}

a,
a:hover,
a:visited {
	text-decoration: none !important;
	color: inherit !important;
}

.navbar {
	font-size: 18px;

	&-list{
		display: flex;
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			line-height: 15px;
			margin: 0 5px;
			padding: 0 10px;
			cursor: pointer;
			transition: 300ms;

			&:hover {
				color: #fff;
				filter: drop-shadow(0 0 3px #fff);
			}
		}
	}
}

.logo-header {
	width: 120px;
	transition: 500ms;

	&:hover {
		color: #fff;
		filter: drop-shadow(0 0 2px #fff);
	}
}

.hero {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('../imgs/hero-image-blur.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	object-position: top;

	&-title{
		font-size: 24px;
		position: fixed;
		top: 50%;
		left: 50%;
		display: flex;
		align-items: center;
		flex-direction: column;
		transform: translate(-50%, -65%) !important;
		color: #bbb;
		filter: drop-shadow(0 0 5px #000);

		h1, h2{
			margin: 0;

			span{
				text-decoration: underline;

				i{
					font-size: 42px;
					position: relative;
					left: 0;
					margin: 15px;
					vertical-align: middle;
				}
			}
		}
		h2{
			position: absolute;
			top: 65%;
		}
		p{
			font-size: 20px;
			margin: 0 auto;
		}
	}
}

.typewriter {
	overflow: hidden;
	margin: 0 auto;
	animation: typing 2s steps(30, end), blink-caret 1.5s step-end infinite;
	white-space: nowrap;
	border-right: 3px solid #fff;
}

.slowLoading.typewriter {
	overflow: hidden;
	margin: 0 auto;
	animation: typing 1s steps(12, end), blink-caret 1.5s step-end infinite;
	white-space: nowrap;
	border-right: 3px solid #fff;
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@keyframes blink-caret {
	from, to {
		border-color: transparent;
	}

	50% {
		border-color: #fff;
	}
}

.cursor {
	position: fixed;
	z-index: 100;
	width: 20px;
	height: 20px;
	pointer-events: none;
	opacity: 0;
	border: 3px solid #fff;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 15px #fff;
	filter: blur(5px);
}

.ripple {
	position: fixed;
	z-index: 101;
	left: 50%;
	display: block;
	width: 60px;
	height: 60px;
	transform: scale(0.5);
	animation: ripple .4s ease-out;
	pointer-events: none;
	border: 3px solid #fff;
	border-radius: 100%;
	background: #222;
}
@keyframes ripple {
	from {
		transform: scale(0.2);
		opacity: 1;
	}
	to {
		transform: scale(2);
		opacity: 0;
	}
}

.spotify_player {
	position: fixed;
	bottom: 0;
	left: 0;
}

.next-section {
	font-size: 40px;
	position: absolute;
	top: 85%;
	left: 50%;
	cursor: pointer;
	transition: 500ms;
	transform: translate(-50%, -50%);
	animation: next-bounce .35s ease-in infinite alternate;
	color: #bbb;
	text-shadow: 0 2px 5px #000;

	&:hover {
		filter: drop-shadow(0 0 2px #fff);
	}
}
@keyframes next-bounce {
	from {
		padding-bottom: 25px;
	}
	to {
		padding-bottom: 0;
	}
}

#section_sobre {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	padding: 20px 0;
	background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0, linear-gradient(27deg, #222 5px, transparent 5px) 0 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

.selfie {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: default;

	&-img {
		width: 180px;
		position: relative;
		z-index: 5;
		transition: 300ms;
		border-radius: 50%;
		box-shadow: 0 0 15px #000;
		margin-bottom: 20px;
	}

	&-name{
		position: relative;
		z-index: 4;
		color: #bbb;
		text-shadow: 0 0 10px #000;

		h1{
			margin: 0;
			padding: 0 5px;
			transition: 300ms ease-out;

			&:hover{
				transform: translateY(-5px);
				box-shadow: 0 5px 5px #000;
			}
		}
	}

	&-description{
		color: #bbb;
		font-size: 22px;
		font-family: 'Timeburner Bold';
		text-align: center;
		padding: 0 15%;
		p {
			position: relative;
			transition: 300ms ease-out;
			padding: 5px 0 10px 0;
			&:hover{
				transform: translateY(-5px) !important;
				box-shadow: 0 5px 5px #000;
			}
		}
		a{
			color: inherit;
			transition: 300ms ease-out;

			&:hover{
				text-decoration: underline !important;
			}
		}
		img{
			transition: 300ms ease-out;

			&:hover{
				margin: 0 10px;
				transform: scale(1.1);
			}
		}
	}
}

#section_contato {
	position: relative;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
	color: #fff;
}

.contato_content {
	position: absolute;
	left: -30%;
}

.form_contato {
	font-family: Arial;
	position: absolute;
	right: -35%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 22%;
}

.wpcf7-response-output {
	font-family: Arial;
	font-size: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
	color: #000 !important;
}
